---
import { SITE_AUTHOR_NAME, SITE_AUTHOR_URL } from '../consts';
---

<div class="article-author">
	<span class="article-author__label">Автор:</span>
	<a class="article-author__link" href={SITE_AUTHOR_URL}>{SITE_AUTHOR_NAME}</a>
</div>
