---

---

<div class="topo-bg" aria-hidden="true">
	<svg class="topo-bg__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1200" preserveAspectRatio="xMidYMid slice">
		<rect width="1200" height="1200" fill="#0a0a0a"></rect>
		<g fill="none" stroke="rgba(255, 255, 255, 0.07)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round">
			<path d="M-40 80 C120 20, 280 140, 440 70 S760 30, 920 90 S1120 150, 1260 60"></path>
			<path d="M-60 160 C100 220, 260 100, 420 180 S700 240, 880 130 S1080 90, 1240 170"></path>
			<path d="M-20 250 C160 190, 300 310, 480 240 S740 180, 940 280 S1140 320, 1260 230"></path>
			<path d="M-80 340 C80 400, 240 280, 400 360 S680 420, 860 310 S1060 270, 1220 350"></path>
			<path d="M-40 430 C140 370, 320 490, 500 420 S760 360, 960 460 S1160 500, 1280 410"></path>
			<path d="M-100 520 C60 580, 220 460, 380 540 S660 600, 840 490 S1040 450, 1200 530"></path>
			<path d="M-30 610 C150 550, 290 670, 460 600 S720 540, 920 640 S1120 680, 1260 590"></path>
			<path d="M-70 700 C90 760, 250 640, 410 720 S690 780, 870 670 S1070 630, 1230 710"></path>
			<path d="M-50 790 C130 730, 310 850, 490 780 S750 720, 950 820 S1150 860, 1270 770"></path>
			<path d="M-90 880 C70 940, 230 820, 390 900 S670 960, 850 850 S1050 810, 1210 890"></path>
			<path d="M-20 970 C160 910, 300 1030, 480 960 S740 900, 940 1000 S1140 1040, 1260 950"></path>
			<path d="M-60 1060 C100 1120, 260 1000, 420 1080 S700 1140, 880 1030 S1080 990, 1240 1070"></path>
			<path d="M-40 1150 C120 1090, 280 1210, 440 1140 S760 1100, 920 1160 S1120 1180, 1260 1120"></path>
			<path d="M200 40 C280 120, 360 20, 460 100 S620 160, 720 60 S860 0, 980 80"></path>
			<path d="M180 200 C300 140, 400 260, 520 190 S700 130, 820 230 S960 290, 1080 210"></path>
			<path d="M220 360 C340 300, 440 420, 560 350 S740 290, 860 390 S1000 450, 1120 370"></path>
			<path d="M160 480 C280 540, 380 420, 500 500 S680 560, 800 450 S940 390, 1060 470"></path>
			<path d="M240 620 C360 560, 460 680, 580 610 S760 550, 880 650 S1020 710, 1140 630"></path>
			<path d="M190 760 C310 820, 410 700, 530 780 S710 840, 830 730 S970 670, 1090 750"></path>
			<path d="M210 900 C330 840, 430 960, 550 890 S730 830, 850 930 S990 990, 1110 910"></path>
			<path d="M170 1040 C290 980, 390 1100, 510 1030 S690 970, 810 1070 S950 1130, 1070 1050"></path>
			<path d="M420 120 C520 60, 620 180, 720 110 S880 50, 980 130 S1100 190, 1180 100"></path>
			<path d="M400 280 C520 340, 600 220, 700 300 S860 360, 960 250 S1080 190, 1160 270"></path>
			<path d="M440 440 C560 380, 660 500, 760 430 S920 370, 1020 470 S1140 530, 1220 450"></path>
			<path d="M380 580 C500 640, 600 520, 700 600 S880 660, 980 550 S1100 490, 1180 570"></path>
			<path d="M460 720 C580 660, 680 780, 780 710 S940 650, 1040 750 S1160 810, 1240 730"></path>
			<path d="M410 860 C530 920, 630 800, 730 880 S910 940, 1010 830 S1130 770, 1210 850"></path>
			<path d="M430 1000 C550 940, 650 1060, 750 990 S910 930, 1010 1030 S1130 1090, 1210 1010"></path>
		</g>
		<g fill="none" stroke="rgba(255, 255, 255, 0.04)" stroke-width="0.8">
			<ellipse cx="620" cy="380" rx="180" ry="120"></ellipse>
			<ellipse cx="380" cy="720" rx="140" ry="200"></ellipse>
			<ellipse cx="860" cy="640" rx="160" ry="110"></ellipse>
			<ellipse cx="520" cy="980" rx="200" ry="90"></ellipse>
			<ellipse cx="280" cy="480" rx="110" ry="160"></ellipse>
		</g>
	</svg>
</div>
